// $primary-dark: black;
// // $primary-white:#e0e0e0;
// $primary-white: #f0f0f3;
// $color-blue: #3088f4;
// $color-background: #fefefe;
// $color-shadow: #babecc;
// $color-white: #fff;
// $color-bluegray: #2c3e50;
// $color-fancyyellow: #ffd000;
// $color-fancyyellow-darker: #ffbb00;

$green-ranger: #00bb33;
$golden-solution: #ffd000ce;
$white-power: #ffffff;
$dark-grey: #222222;
$black: #000000;
$medium-grey: #707070;
$light-grey: #cccccc;
